<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 style="text-align: center;">Menus</h1>
  <div id="posts" class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr style="background-color: #F8F0DF">
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @menus.each do |menu| %>
          <tr>
            <th scope="row"> <%= menu.id %></th>
            <td><%= menu.name %></td>
            <td><%= menu.price %></td>
            <td><%= menu.description %></td>
            <td><%= link_to "Show this menu", menu %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
  </div>

  <p style="text-align: center">
    <%= link_to "New menu", new_menu_path %> <br>
    <%= link_to "Back to landing", landing_index_path %>
  </p>
</div>